
.card {
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    gap: 10px;
    padding: 40px;
    justify-content: center;

}

.container{

}
.card__name {
    text-align: center;
    background-color: #eeecec;
    border-radius: 10px 10px 0 0;

}
.card__imgContent {
    justify-content: center;
    border-radius: 0 0 10px 10px;
    background-color: #eeecec;
    display: flex;
    background-color: #eeecec;
}

.card__image {
    list-style: none;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 7px;
    background-color: azure;

}

.card__image:hover {
    opacity: 0.9;
}

.card__info {
    background-color: aliceblue;
    margin-bottom: 30px;
    border-radius: 10px;
    text-align: center;
}

.home {
    text-align: center;
}

.title {
    text-align: center;
}

.back {
    background-color: #eeecec;
    border-radius: 10px;
}

.card__backinfo {
    border-radius: 10px;
    background-color: red;
}