@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

.container {
    background-color: whitesmoke;
}

.container__header {
    justify-content: center;
    text-align: center;
    text-shadow: 0.5px 0.5px 1px ;
    font-size: xx-large;
}